<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot | Culture Holidays</title>
    <link rel="stylesheet" href="https://chatbot-i5sm.onrender.com/views/bot.css">
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"
        integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
        crossorigin="anonymous"></script>
</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">

<body>
    <main>
        <div id="chat-toggle" class="show">
            <img src="https://chatbot-i5sm.onrender.com/views/bot-logo.png" alt="buttonpng" />
        </div>
        <div id="loading-container" class="hide">
            <div class="lds-hourglass"></div>
            <p>Loading...</p>
        </div>
        <div id="chat-container" class="hide">
            <div class="header">
                <div class="header_left">
                    <div class="icon"></div>
                    <div class="bot-details">
                        <h2>Hey, I'm Vivi</h2>
                        <p>Feel free to ask about travlling!</p>
                    </div>
                </div>
                <div class="header_right">
                    <img src="https://chatbot-i5sm.onrender.com/views/menu-dots-svgrepo-com.svg" alt="close" class="close-btn">
                </div>
            </div>

            <div class="chat-body">

            </div>
            <div class="autocomplete-container hide">
                <ul>
                    <li>Hello World</li>
                    <li>Hello World</li>
                    <li>Hello World</li>
                    <li>Hello World</li>
                    <li>Hello World</li>
                    <li>Hello World</li>
                    <li>Hello World</li>
                    <li>Hello World</li>
                    <li>Hello World</li>
                    <li>Hello World</li>
                    <li>Hello World</li>
                    <li>Hello World</li>
                    <li>Hello World</li>
                </ul>
            </div>
            <div class="main-menu-container hide">
                <div class="main-menu-options">
                    <button data-button-info="create booking" class="main-menu-btn">Make Booking</button>
                    <button data-button-info="create flyer" class="main-menu-btn">Create Flyer</button>
                    <button data-button-info="create itinerary" class="main-menu-btn">Create Itinerary</button>
                    <button data-button-info="create booking" class="main-menu-btn">Pay for Booking</button>
                    <button data-button-info="create booking" class="main-menu-btn">Feedback & Complain</button>
                </div>
            </div>
            <div class="chat-footer">
                <button class="btn menu-toggle"><img src="https://chatbot-i5sm.onrender.com/views/menu-2-svgrepo-com.svg" alt="menu"></button>
                <input type="text" placeholder="Write a message..." id="input-box" autocomplete="off" autofocus="on">
                <button class="btn send-btn"><img src="https://chatbot-i5sm.onrender.com/views/paper-plane_9449242.png" alt="send"></button>
            </div>
        </div>
    </main>


    <script src="https://chatbot-i5sm.onrender.com/views/bot.js"></script>
</body>

</html>